# Page type
VITE_APP_GOAL_PAGE=chỉ tiêu
VITE_APP_NEWS_PAGE=tin tức

# Client
VITE_APP_API_URI = http://localhost:4000
VITE_APP_API_LIMIT = 10

# Group code
VITE_APP_TEMPORARY_TALENT_ENGINEER_CODE=001
VITE_APP_TALENT_ENGINEER_CODE=002
VITE_APP_MAJOR_MANAGER_CODE=003
VITE_APP_ADMIN_CODE=004

#AWS
VITE_APP_ACCESS_KEY_ID=
VITE_APP_SECRET_ACCESS_KEY=



