.faculty_major_container {
    padding: 10px;

    table {
        margin-top: 5px;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        font-weight: 500;

        th {
            border: 1px solid gray;
            background: #1677ff;
            color: #fff;
            padding: 8px;
        }

        td {
            border: 1px solid gray;
            padding: 10px;
        }

        .manager_item {
            & + .manager_item {
                margin-top: 5px;
            }
        }

        .status {
            &.active {
                color: #1677ff;
            }

            &.inactive {
                color: #f0635c;
            }
        }

        .major_item {
            display: flex;
            align-items: center;
            text-align: left;
            transition: 0.1s linear;

            .major_item_content {
                display: flex;
                align-items: center;
            }

            > span {
                min-width: 140px;
            }
        }

        .updated_btn,
        .delete_btn,
        .add_btn {
            display: flex;
            align-items: center;
            gap: 5px;
            margin: 10px;
            outline: none;
            cursor: pointer;
            font-weight: 600;
            font-size: 14px;
            margin-left: 5px;
            border-radius: 3px;
            background: transparent;
            transition: 0.1s linear;

            &:active {
                opacity: 0.9;
            }
        }

        .updated_btn {
            color: #006fee;
        }

        .delete_btn {
            color: #f0635c;
        }

        .add_btn {
            color: #006fee;
        }

        .interactive_btn_wrapper {
            .updated_btn,
            .delete_btn,
            .add_btn {
                white-space: nowrap;
            }
        }
    }

    .table_heading {
        display: flex;
        padding: 10px 5px;
        justify-content: space-between;
        align-items: center;

        .heading {
            color: #0153b1;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .create_major_btn,
    .create_faculty_btn {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #1677ff;
        border: none;
        color: #fff;
        font-size: 14px;
        padding: 8px;
        border-radius: 3px;
        font-weight: 600;
        cursor: pointer;
        max-height: 40px;
        min-width: 140px;
        transition: 0.1s linear;

        &:active {
            transform: scale(0.9);
        }
    }

    .cohort_form,
    .major_form,
    .faculty_form {
        width: 600px;
        padding: 25px;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        fieldset {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;
            padding: 20px;
        }

        label {
            min-width: 165px;
            font-weight: bold;
        }

        .input_item_wrapper {
            display: flex;
            width: 100%;
            align-items: center;

            input,
            select {
                &.not_allowed {
                    cursor: not-allowed;
                }

                flex: 1;
                height: 35px;
                padding: 4px 12px;
                border-radius: 3px;
                font-weight: 600;
                outline: none;
                border: 1px solid rgb(229, 229, 229);
            }

            .add_major_btn,
            .add_major_manager_btn,
            .add_faculty_major_btn,
            .add_faculty_manager_btn {
                margin-left: 5px;
                height: 35px;
                width: 100px;
                outline: none;
                border-radius: 3px;
                border: none;
                background: #006fee;
                color: #fff;
                font-weight: 600;
                transition: 0.1s linear;

                &:active {
                    transform: scale(0.9);
                }
            }
        }

        .title {
            display: inline-block;
            min-width: 150px;
            font-weight: 700;
            font-size: 16px;
            text-decoration: underline;
            margin-bottom: 10px;
        }

        .faculy_manager_list {
            .manager_info {
                padding: 8px 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: 600;
                transition: 0.1s linear;

                &:hover {
                    background: #f7f7f7;
                }

                .manager_info_wrapper {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    .manager_info_content {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }

            .manager_info_delete_btn {
                font-size: 20px;
                color: red;
                cursor: pointer;
            }
        }

        .create_new_cohort_btn,
        .create_new_major_btn,
        .create_new_faculty_btn {
            margin-right: auto;
            margin-left: auto;
            margin-top: 15px;
            width: 100%;
            height: 35px;
            outline: none;
            border-radius: 3px;
            border: none;
            background: #006fee;
            color: #fff;
            font-weight: 600;
            transition: 0.1s linear;
            cursor: pointer;

            &:active {
                transform: scale(0.9);
            }
        }
    }
}
