.border__text--role {
    width: 39px;
    height: 35px;
    background-color: #f0635c;
    color: #fff;
    border-radius: 3px;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.bgr__green {
    background-color: #008000;
}

.container__menu.sidebar_admin {
    .menu_wrapper {
        background-color: #1c2741;
    }
}

.sidebar_admin {
    .menu_wrapper {
        border-right: 1px solid #747474 !important;
        .img__logo {
            border-bottom: 1px dashed #363636 !important;
        }
    }

    // HEADING TITLE MENU
    .heading__title--menu {
        color: #ffffff;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 10px;
        text-wrap: nowrap;
        // transition: all 0.35s;
    }

    .set__toggleMenu {
        .heading__title--menu {
            display: none;
        }

        .list__hanle--menu {
            border: none !important;
            border-bottom: 1px solid #797878 !important;
        }

        .item_menu_a {
            margin-left: 0px !important;
        }
    }


    .item_menu_a {
        background-color: transparent !important;
        color: #8d98af !important;
        border-radius: 3px !important;

        svg {
            color: #c9d0dd !important;
        }

        &:hover {
            color: #fff !important;

            svg {
                color: #fff !important;
            }
        }

        .active_icon {
            svg {
                color: #fff !important;
            }
        }

        &:active {
            color: #fff !important;

            svg {
                color: #fff;
            }
        }
    }

    .item_menu_a.active {
        background-color: #3e97ff !important;
        color: $color_white !important;

        svg {
            color: #ffffff !important;
        }
    }

    .box_sub_menu_item {
        .box__select--year {
            .set__year--item {
                background-color: transparent !important;
                color: #8d98af !important;
                &:hover {
                    color: #fff !important;
                }
    
                &::before {
                    background-color: #8d98af;
                }
            }
            .set__year--item.active {
                background-color: #3e97ff !important;
                color: #fff !important;
            }
        }

        .sub_menu_item {
            background-color: transparent !important;
            border-bottom: none !important;
            color: #8d98af !important;

            &:hover {
                color: #fff !important;
            }

            &::before {
                background-color: #8d98af;
            }
        }

        .sub_menu_item.active {
            background-color: #3e97ff !important;
            color: #fff !important;

            &::before {
                content: "";
                width: 5px;
                height: 5px;
                display: block;
                background-color: #fff;
                border-radius: 100%;
                margin-right: 15px;
            }
        }
    }

    .btn__toggle--menu {
        width: 40px;
        height: 35px;
        color: #afb8cc;
        font-size: 17px;
        background-color: #323c55;
        border-radius: 3px;
        cursor: pointer;
        text-align: center;
        overflow: hidden;

        .line__flex_icon {
            width: 80px;
            height: 100%;
            display: flex;
            padding-left: 8px;
            align-items: center;
            transition: all 0.5s;

            svg {
                font-size: 25px;
                transform: translateX(0px);
            }

            svg:first-child {
                margin-right: 20px;
            }
        }
    }

    .active_icon_toggle--menu {
        .line__flex_icon {
            transform: translateX(-48px);

            svg {
                color: #fff;
            }
        }
    }
}

.header_admin {
    background-color: #1c2741 !important;

    .khoa_style {
        border-left: 5px solid #f0635c !important;
        color: #ffffff !important;
    }

    #name__user {
        color: #ffffff !important;
    }

    #studentId__user {
        color: #d8d8d8 !important;
    }

    .btn__border {
        border-radius: 3px !important;
    }

    .border__account {
        border-left: 1px solid #868585 !important;
    }

    .box__drop--account {
        border-radius: 3px !important;

        .item_btn_control {
            border-radius: 3px !important;
        }
    }
}