.filter_activity_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    .filter_activity {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
