.pages_management_container {
    ul {
        list-style-type: none;
    }

    .menu_item {
        padding: 20px 10px;
        align-items: center;
        font-weight: 700;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(209, 207, 207);

        .menu_item_label {
            display: flex;
            gap: 20px;
        }

        .menu_item_name {
            display: inline-block;
            font-size: large;
            min-width: 200px;
        }

        .required_role {
            display: inline-block;
            border-radius: 10px;
            min-width: 220px;
            padding: 8px 12px;
            color: #fff;
            font-size: small;
            font-weight: 600;
            background: #1c7ae6;
            text-align: center;
        }
    }

    .sub_menu_ul {
        margin-top: 20px;
        border: 1px solid rgb(210, 209, 209);
        border-radius: 8px;
        overflow: hidden;

        .sub_menu_item {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 15px;
            font-weight: 600;
            border-bottom: 1px solid rgb(210, 209, 209);

            button {
                color: white;
                font-weight: 600;
                border: none;
                outline: none;
                border-radius: 8px;
                box-shadow: 0 0 1px gray;
                min-width: 140px;
                padding: 10px 14px;
                transition: 0.1s linear;
                cursor: pointer;

                &:active {
                    transform: scale(0.9);
                }
            }

            .sub_menu_item_btn_wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;
            }

            .sub_menu_item_name {
                display: inline-block;
                min-width: 220px;
            }
        }
    }
}

// GIAO DIỆN BẢN V2
.container_page__manager {
    width: 100%;
    padding: 20px;
    background-color: #f5f5f5;

    .body__data--pages {
        border-top: 2px solid #1c7ae6;
        background-color: #fff;
        margin-top: 15px;

        .line__sort {
            padding: 10px 10px;
        }

        table {
            width: 100%;
            border-top: 2px solid #a5a5a5;
            border-collapse: collapse;
            tbody > tr {
                border-top: 1px solid #dddddd;
                height: 50px;
            }
            
            tr:hover {
                background-color: #f3f3f3d7;
                transition: all 0.15s;
            }

            th {
                padding: 10px;
                text-align: left;
                font-size: 15px;
                color: #424242;
            }

            td:first-child {
                font-weight: 700;
            }

            td {
                padding: 12px 10px;
                font-size: 16px;
            }

            .name_menu {
                color: #1c7ae6;
                font-weight: 650;
            }

            .tr__sub_menu {
                cursor: pointer;
            }

            .name_sub_menu {
                padding-left: 40px;
                font-weight: 500;
                color: #1c7ae6;
                .icon__vol {
                    padding-right: 10px;
                }
            }

            .icon__show {
                width: max-content;
                background-color: #0ca379;
                padding: 2px 5px;
                color: #fff;
                border-radius: 3px;
                font-size: 15px;
                cursor: pointer;
            }

            .btn_man-pages {
                .remove_page_btn {
                    color: #f0635c;
                }

                .add_table_btn {
                    color: #1c7ae6;
                }
    
                .remove_table_btn {
                    color: orange;
                }
    
                .watch_table_btn {
                    color: #1c7ae6;
                }
            }
        }
    }
}

.heading_text--pages {
    font-size: 16px;
    font-weight: 700;
    color: #3f3f3f;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    svg {
        font-size: 35px;
        padding-right: 10px;
    }
}

/// test
.container_test {
    height: 500px;
    padding: 15px;
    background-color: #f5f5f5;
    .row {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
        select {
            width: 120px;
            height: 30px;
            margin-right: 10px;
        }
        .btn_cr {
            padding: 8px;
            background-color: #1c7ae6;
            color: #fff;
            border: none;
            border-radius: 2px;
        }
    }
    .list {
        // .coll{
        //     width: 100%;
        //     height: 40px;
        //     background-color: #cacaca;
        // }
    }
}
