.border__text--role {
    width: 39px;
    height: 35px;
    background-color: #f0635c;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bgr__green {
    background-color: #008000;
}

.container__menu.sidebar_admin {
    .menu_wrapper {
        background-color: #fff;
    }
}

.sidebar_admin {
    // HEADING TITLE MENU
    .heading__title--menu {
        color: #ffffff;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 10px;
        text-wrap: nowrap;
    }

    .set__toggleMenu {
        .heading__title--menu {
            display: none;
        }

        .list__hanle--menu {
            border: none;
            border-bottom: 1px solid #797878;
        }
    }

    .box_sub_menu_item {
        .box__select--year {
            .set__year--item {
                background-color: transparent;
                color: #8d98af;

                &:hover {
                    color: #fff;
                }

                &::before {
                    background-color: #8d98af;
                }
            }

            .set__year--item.active {
                background-color: #3e97ff;
                color: #fff;
            }
        }

        .sub_menu_item {
            background: transparent;
            border-bottom: none;
            color: #000;

            &::before {
                background-color: #333;
            }

            &:hover {
                background: rgb(245, 243, 243);
            }
        }

        .sub_menu_item.active {
            background: rgb(245, 243, 243);
        }
    }

    .btn__toggle--menu {
        width: 40px;
        height: 30px;
        color: #000;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
        overflow: hidden;

        .line__flex_icon {
            width: 100px;
            height: 100%;
            display: flex;
            padding-left: 8px;
            align-items: center;
            transition: all 0.5s;

            svg {
                font-size: 18px;
                transform: translateX(0px);
            }

            svg:first-child {
                margin-right: 20px;
            }
        }
    }

    .active_icon_toggle--menu {
        .line__flex_icon {
            transform: translateX(-37px);
        }
    }
}

.header_admin {
    .tr__header {
        background-color: #ffffff !important;
    }

    .khoa_style {
        border: none;
        color: #222222 !important;
    }

    #name__user {
        color: #222222 !important;
    }

    #studentId__user {
        color: #222222 !important;
    }

    .btn__border {
        border-radius: 100% !important;
    }

    .border__account {
        border-left: 1px solid #868585 !important;
    }

    .box__drop--account {
        border-radius: 3px;

        .item_btn_control {
            border-radius: 3px;
        }
    }
}

.information__welcome {
    background: linear-gradient(90deg, #f0635c 0%, #ffad76 100%) !important;
}
