.completion_shedule_container {
    padding: 5px;
    background-color: #f5f5f5;

    .completion_shedule_wrapper {
        background-color: #ffffff;
        box-shadow: 0px 0px 5px #dad8d869;
        border-radius: 3px;
        height: calc(100vh - 68px - 10px);

        .completion_shedule_body {
            display: flex;
            flex-direction: column;
            height: 100%;
            background-color: #fff;

            .line__sort__completion-Shedule {
                background: #fff;

                .line__search {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 10px;
                    gap: 5px;

                    .btn_revert,
                    .btn_confirm {
                        background: #1c7ae6;
                    }

                    .btn__end_progress {
                        background-color: #f0635c;
                    }

                    .btn_revert,
                    .btn_confirm,
                    .btn__end_progress {
                        height: 40px;
                        font-size: 14px;
                        padding: 8px 12px;
                        border: none;
                        border-radius: 3px;
                        color: #fff;
                        font-weight: 600;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-width: 100px;
                        transition: all 0.1s linear;

                        svg {
                            font-size: 17px !important;
                            margin-right: 5px;
                        }

                        &:active {
                            transform: scale(0.9);
                        }
                    }
                }
            }

            .line__btn_down {
                display: flex;
                justify-content: right;
                padding: 0px 10px;
                padding-bottom: 10px;

                .download_icon {
                    background-color: #1c7ae6;
                    font-size: 15px;
                    padding: 5px 8px;
                    border: none;
                    border-radius: 3px;
                    color: #fff;
                    font-weight: 600;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        font-size: 17px !important;
                        margin-right: 5px;
                    }
                }
            }

            .completion_shedule_table_wrapper {
                padding: 0 10px;
                flex: 1;
                overflow: auto;

                .completion_shedule_table {
                    width: 100%;
                    overflow: auto;
                    border-collapse: collapse;

                    .completion_shedule_header {
                        position: sticky;
                        top: 0;
                        background: #fff;

                        .progress_header_filter {
                            margin-left: 5px;
                            svg {
                                position: relative;
                                top: 2px;
                            }
                        }
                    }

                    tbody > tr {
                        border-top: 1px solid #dddddd;
                        height: 50px;
                    }

                    .details_btn {
                        cursor: pointer;
                    }

                    tr:hover {
                        background-color: #f3f3f35e;
                        transition: all 0.15s;
                    }

                    th {
                        background: #f1f0f0;
                        padding: 10px;
                        text-align: left;
                        font-size: 13.5px;
                        color: #333;
                        text-align: center;
                        text-transform: uppercase;
                    }

                    td {
                        text-align: center;
                        padding: 12px 10px;
                        font-size: 14px;
                        font-weight: 600;
                        color: #4e545b;

                        &.active {
                            color: #0153b1;
                        }

                        &.inactive {
                            color: #f5372f;
                        }

                        &:first-child {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
