.create_post_container {
    width: 100%;
    min-height: 100vh;
    padding: 10px 40px;
    .create_post_title {
        text-align: center;
        margin-bottom: 20px;
        color: #0153b1;
        font-size: 30px;
    }

    .create_post_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        width: 100%;

        .select_new_type,
        .post_input,
        .file_input {
            padding: 8px 12px;
            height: 45px;
            outline: none;
            border: 1px solid rgb(225, 222, 222);
            font-weight: 600;
            font-size: 16px;

            span + input {
                margin-left: 10px;
            }
        }

        .select_new_type_wrapper {
            display: flex;
            position: relative;

            #tippy-1 {
                width: 100%;
            }

            .select_new_type {
                flex: 1;
                cursor: pointer;
                display: flex;
                align-items: center;
            }

            .select_new_type_label {
                display: flex;
                align-items: center;
                padding: 8px 12px;
                height: 45px;
                outline: none;
                border: 1px solid rgb(225, 222, 222);
                font-weight: 600;
                font-size: 16px;
                color: gray;
                width: 160px;
            }

            .select_new_type_modal {
                box-shadow: 0 0 3px gray;
                border-radius: 3px;
                width: 100%;
                background: #fff;

                .news_type_item {
                    padding: 8px 12px;
                    transition: 0.1s linear;
                    cursor: pointer;
                    font-weight: 600;
                    padding: 10px;
                    border-bottom: 1px solid rgb(241, 238, 238);

                    &:hover {
                        background: rgb(243, 242, 242);
                    }
                }

                .add_news_type_wrapper {
                    flex: 1;
                    display: flex;
                    align-items: center;

                    .add_news_type_input {
                        flex: 1;
                    }

                    .add_news_type_input {
                        font-weight: 500;
                        height: 40px;
                        padding: 8px 12px;
                        outline: none;
                        border: 1px solid rgb(225, 222, 222);
                    }
                }

                .add_news_type_container {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    padding: 10px;

                    .add_news_type_btn {
                        padding: 8px 20px;
                        font-weight: 600;
                        height: 40px;
                        background: #1c7ae6;
                        border-radius: 3px;
                        color: #fff;
                        cursor: pointer;
                        outline: none;
                        border: none;
                        transition: 0.1s linear;

                        &:active {
                            transform: scale(0.9);
                        }
                    }
                }
            }
        }

        .label_new_type {
            color: gray;
        }

        .post_btn_wrapper {
            width: 100%;
            text-align: center;

            .post_btn {
                width: 200px;
                max-width: 100%;
                border: none;
                outline: none;
                box-shadow: 0 0 3px gray;
                color: white;
                font-weight: 600;
                padding: 12px 20px;
                background: #1c7ae6;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.1s linear;

                &:active {
                    transform: scale(0.9);
                }
            }
        }

        .ql-container.ql-snow {
            min-height: 300px;
            max-height: 500px;
            overflow: auto;
            img {
                display: block;
                margin: 10px auto;
            }
        }
    }
}
