.goal_management_container {
    .goal_management {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .goal_management_filter {
            display: flex;
            padding: 10px;
            border-bottom: 1px solid #a5a5a5;

            select {
                min-width: 180px;
                padding: 10px;
                border: 1px solid #ccc;
                color: #333;
                font-weight: 600;
            }

            .search_btn {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #1677ff;
                border: none;
                color: #fff;
                margin-left: 10px;
                font-size: 15px;
                padding: 8px 12px;
                border-radius: 3px;
                font-weight: 600;
                cursor: pointer;
                max-height: 40px;
                min-width: 140px;
                transition: 0.1s linear;

                &:active {
                    transform: scale(0.9);
                }
            }
        }

        .goal_management_body {
            display: flex;
            flex: 1;

            .no_search_result_img_wrapper {
                margin: auto;
                width: 260px;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            .table_wrapper {
                width: 100%;
                padding: 10px;

                table, td, th {
                    border: 1px solid #dddddd;
                }

                  
                table {
                    width: 100%;
                    border-collapse: collapse;
                        
                    th {
                        padding: 10px;
                        font-weight: 700;
                        text-transform: uppercase;
                        font-size: 13.5px;
                        user-select: none;
                        color: #333;
                    }

                    td {
                        font-size: 14px;
                        font-weight: 500;
                        padding: 10px;
                        color: #333;
                    }

                    .btn_group {
                        .btn_item {
                            display: flex;
                            gap: 5px;
                            align-items: center;
                            cursor: pointer;
                            transition: 0.1s linear;
                            
                            & + .btn_item {
                                margin-top: 10px;
                            }

                            &:hover {
                                color: #1677ff;
                                text-decoration: underline;
                            }

                            &.remove_page_goal_btn,
                            &.update_status_page_goal_btn{
                                &:hover {
                                    color: #f0635c;
                                    text-decoration: underline;
                                }
                            }
                       }
    
                       .icon_wrapper {
                            position: relative;
                            top: 2px;
                            font-size: 18px;
                        }
                    }
                    
                    .page_name, .page_status {
                        text-align: center;
                    }

                    .page_status {
                        font-weight: 600;
                        .active {
                            color: #1677ff;
                        }

                        .inactive {
                            color: #f0635c
                        }
                    }

                    .activity_name {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 5px;

                        .activity_btn_group {
                            display: flex;
                            align-self: flex-start;  
                            gap: 5px;

                            .activity_edit_btn,
                            .activity_delete_btn {
                                font-weight: 600;
                                border-radius: 3px;
                                user-select: none;
                                padding: 3px 20px;
                                cursor: pointer;
                                transition: 0.1s linear;

                                &:active {
                                    transform: scale(0.9);
                                }
                            }

                            .activity_edit_btn {
                                border: 1px solid #1677ff;
                                color: #1677ff;

                                &:hover {
                                    background: #1677ff;
                                    color: #fff;
                                }
                            }

                            .activity_delete_btn {
                                float: right;
                                border: 1px solid #f0635c;
                                color: #f0635c;

                                &:hover {
                                    background: #f0635c;
                                    color: #fff;
                                }

                            
                            }
                        }
                    }
                }
            }
        }
    }
}