.pageHome {
	padding: 20px;
	background-color: $color_bgr;
	display: flex;
	flex-direction: column;
	gap: 10px;
	min-height: calc(100vh - 60px);

	.container__top {
		display: flex;
        gap: 10px;

        > div {
            flex-basis: 50%;
        }
	}
}

.container__chart,
.container__info {
	background-color: $color_white;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 0 3px rgb(194, 193, 193);
}


// Layout Info
.container__info {
	display: flex;
	flex-direction: column;

	.content {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

		.info__avatar {
            a {
                margin-top: 5px;
                display: block;
                text-align: center;
                width: 100%;
            }

			.more__info {
				color: $main_color;

				&:hover {
					color: $main_color-hover;
				}
			}
		}


	}
}

// Avatar
.info__avatar {
	position: relative;

	&-image {
		// border: 1px solid $line_color;
        display: block;
	}

	.info__avatar-image {
		border-radius: 100%;
	}

	.info__avatar-image.large {
		width: 185px;
		height: 185px;
	}

	.info__avatar-image.medium {
		width: 92px;
		height: 92px;
	}

	.info__avatar-image.small {
		width: 40px;
		height: 40px;
	}
}

// Layout Chart
.container__chart {
	.content {
		display: flex;
		justify-content: center;
		align-items: center;
        flex-wrap: wrap;
		gap: 10px;

		.chart__graph {
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.chart__sub {
            flex: 1;
			.subchart__item {
				display: flex;
                flex-wrap: wrap;
				gap: 10px;
				margin: 20px 0px;

				.sub {
					font-weight: 500;
				}
			}
		}
	}
}

.container__center {
	background-color: $color_white;
	border-radius: 5px;
	box-shadow: 0 0 3px rgb(194, 193, 193);

    .loading_rows_pendding {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
}