.pageNewsDetail {
	padding: 20px 30px;

	&__params {
		display: flex;
		justify-content: start;
		align-items: center;
		
        gap: 5px;
        font-weight: 600;
		
        .paramRoot {
			color: $color_gray-500;
            white-space: nowrap;

			&:hover {
				color: $color_black;
			}
		}

		.paramCurrent {
			color: $main_color;
            white-space: nowrap;
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
			&:hover {
				color: $main_color_hover
			}
		}

		.shareNews {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10x;

            p {
                font-weight: 600;
                color: gray;
                margin-right: 10px;
            }

			.shareItems {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 22px;
				gap: 5px;
				color: $color_gray-500;

				&:nth-child(n):hover {
					cursor: pointer;
				}

				.facebook:hover {
					color: #3061e6;
				}

				.linkedin:hover {
					color: #1da1f2;
				}

				.x:hover {
					color: $color_black;
				}
			}
		}
	}

	&__container {
		.headerNews {
			margin: 20px 0;
			list-style: 1.5;
			display: flex;
			flex-direction: column;
			gap: 10px;
			justify-content: center;

			&__title {
				color: $main_color_hover;
			}

			&__time {
				font-size: small;
                font-weight: 500;
				color: $color_gray-500;
			}

            .headerNews__title {
                h1 {
                    overflow-wrap: anywhere;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }

            .headerNew_info_wrapper {
                display: flex;
                align-items: center;
                gap: 10px;

                .headerNew_info {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;

                    .headerNews__author {
                        font-weight: 600;
                    }
                }
            }
		}

		.contentNews {
			background-color: $color_bgr;
			padding: 15px 30px;
			text-align: justify;
			border-radius: 5px;
			min-height: 65vh;

            p {
                display: block;
                img {
                    display: block;
                    width: 60%;
                    object-fit: contain;
                    margin: 10px auto;
                }
            }
            

            ol {
                margin-left: 30px;
            }
		}
	}
}