.permission_container {
    padding: 10px;

    .manager_list_container {
        .search_container {
            display: flex;
            gap: 4px;
            align-items: center;
            margin-bottom: 12px;

            button {
                height: 40px;
            }
        }

        .account_btn {
            width: 100%;
            height: 100%;
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
            transition: all 0.1s linear;

            &:active {
                color: #0153b1;
            }
        }
    }

    table {
        margin-top: 5px;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        font-weight: 500;

        th {
            border: 1px solid rgb(171, 170, 170);
            background: #f1f0f0;
            padding: 10px 5px;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
            user-select: none;
            color: #333;
            text-align: center;
        }

        td {
            border: 1px solid rgb(171, 170, 170);
            padding: 10px;
        }
    }

    .table_heading {
        display: flex;
        padding: 10px 5px;
        justify-content: space-between;
        align-items: center;

        .heading {
            color: #0153b1;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .add_major_manager_btn,
    .add_faculty_manager_btn {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #1677ff;
        border: none;
        color: #fff;
        font-size: 14px;
        padding: 8px;
        border-radius: 3px;
        font-weight: 600;
        cursor: pointer;
        max-height: 40px;
        min-width: 140px;
        transition: 0.1s linear;

        &:active {
            transform: scale(0.9);
        }
    }

    td {
        &.active {
            color: #0153b1;
        }

        &.inactive {
            color: #f5372f;
        }
    }

    .user_form_container {
        height: calc(100vh - 70px - 60px - 35px);
        max-width: 100%;
        margin: auto;
        padding: 10px 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        h2 {
            color: #0153b1;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 16px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .input_item {
                display: flex;
                align-items: center;
                gap: 8px;

                .level_year_input {
                    cursor: not-allowed;
                }

                label {
                    font-weight: bold;
                    margin-bottom: 5px;
                    display: block;
                    min-width: 140px;
                }

                input,
                select {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    font-size: 1rem;
                }

                .birthday_input_wrapper {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    font-size: 1rem;
                    position: relative;

                    .birthday_input {
                        width: 100%;
                        font-size: 1rem;
                    }

                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        opacity: 0;
                    }

                    select {
                        flex: 1;
                    }
                }
            }

            button {
                margin-top: 30px;
                margin-left: auto;
                margin-right: auto;
                font-weight: 600;
                width: 400px;
                max-width: 100%;
                background: #0153b1;
                color: white;
                padding: 10px;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                font-size: 1rem;
                transition: all 0.3s ease;

                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }
}
