.border {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}
@each $name, $value in $border-widths {
    .border--#{$name} {
        border-width: $value;
    }

    @each $direction, $type in $directions {
        .border__#{$direction}--#{$name} {
            @each $var in $type {
                border-#{$var}-width: $value;
            }
        }
    }
}
@each $name, $value in $border-styles {
    .border--#{$name} {
        border-style: $value;
    }
}
@each $name, $value in $border-themes-and-colors {
    .border--#{$name} {
        border-color: $value;
    }
}
