.goals_info_container {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(194, 193, 193);

    .notify_empty {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        min-height: 300px;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            width: 200px;
            height: 100px;
            object-fit: cover;
        }

        span {
            color: gray;
            font-weight: 600;
            font-size: 12px;
            text-transform: uppercase;
        }
    }

    .goals_info_container_heading {
        padding: 10px 20px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        border-bottom: 1px solid rgb(229, 227, 227);
    }

    .goals_info_heading_wrapper {
        display: inline-block;

        .goals_info_heading {
            color: #0153b1;
            transition: 0.1s linear;
            text-transform: uppercase;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 16px;

            &:hover {
                color: #0153b1;
            }
        }
    }

    .goals_info_wrapper {
        padding: 20px;

        .goal_info_table {
            width: 100%;
            border-collapse: collapse;

            .goal_info_header {
                padding: 10px;
                font-size: 13px;
                font-weight: 700;
                text-transform: uppercase;
                user-select: none;
                text-align: center;
            }

            td,
            th {
                padding: 8px;
                border: 1px solid #ddd;
            }

            .goal_info_body {
                font-size: 14px;
                font-weight: 500;
                padding: 10px;
                color: #4e545b;
                text-align: center;

                .goal_info_item {
                    text-align: center;

                    .goal_info_dangerous_status {
                        color: #f0635c;
                    }

                    .goal_info_success_status {
                        color: #0153b1;
                    }
                }
            }
        }
    }
}
