.container__menu {
    min-width: 320px;
    background-color: #fff;
    transition: all 0.2s;

    .menu_wrapper {
        width: 320px;
        background-color: #fff;
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        z-index: 99;
        transition: all 0.2s;
        border: 1px solid rgb(238, 236, 236);

        .img__logo {
            width: 100%;
            height: 68px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;

            a {
                display: block;
                height: 100%;
                width: 100%;

                img {
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        .wrap__menu {
            height: 100vh;
            overflow: auto;
            padding-bottom: 90px;

            .flex__box {
                display: flex;
                flex-direction: column;
                padding: 0px 15px;

                .item_menu_a {
                    justify-content: left;
                    padding: 13px 10px;
                    color: $color_black;
                    font-size: 13px;
                    font-weight: 700;
                    cursor: pointer;
                    @include flex_center;
                    justify-content: space-between;
                    border-radius: 5px;
                    background-color: $color_white;
                    transition: all 0.25s;
                    margin: 5px 0px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-transform: uppercase;

                    .item_menu_contain_submenu {
                        display: flex;
                        align-items: center;

                        > span {
                            @include flex_center;

                            > span {
                                margin-left: 15px;
                            }
                        }

                        select {
                            min-width: 48px;
                            background: transparent;
                            outline: none;
                            border: none;
                            font-size: 13px;
                            font-weight: 700;
                            text-transform: uppercase;
                            cursor: pointer;
                            transition: 0.1s linear;
                        }
                    }

                    > span {
                        @include flex_center;

                        > span {
                            margin-left: 15px;
                        }
                    }

                    .none_text__menu--item {
                        display: none;
                    }

                    svg {
                        font-size: 21px;
                    }

                    .icon_active_sub {
                        transition: transform 0.4s;

                        svg {
                            font-size: 20px;
                            margin-right: 0px;
                        }
                    }

                    .active_icon {
                        transform: rotate(90deg);

                        > svg {
                            color: $color_black;
                        }
                    }

                    .unactive_icon {
                        transform: rotate(0deg);
                    }

                    &:hover {
                        background-color: rgb(245, 243, 243);
                    }
                }

                .active_item {
                    background-color: rgb(245, 243, 243);
                }

                .box_sub_menu_item {
                    overflow: hidden;
                    transition: height 0.25s;

                    .box__select--year {
                        .set__year--item {
                            display: block;
                            background-color: #f7f7f7;
                            padding: 10px 0px;
                            padding-left: 30px;
                            color: $color_black;
                            font-weight: 500;
                            font-size: 15px;
                            transition: all 0.35s;
                            border-radius: 3px;
                            color: #494949;
                            display: flex;
                            align-items: center;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            cursor: pointer;
                            position: relative;

                            &:hover {
                                background-color: #edecec1c !important;
                            }
                        }

                        .box__goast--year {
                            position: absolute;
                            right: -30px;
                            top: 0px;
                            z-index: 99999;
                            background-color: red;
                        }

                        .set__year--item.active {
                            background-color: #e9e9e9;
                            color: #0153b1;
                        }
                    }

                    .sub_menu_item {
                        width: 100%;
                        font-size: 12px;
                        font-weight: 500;
                        color: $color_black;
                        text-transform: uppercase;
                        padding: 10px 10px 10px 30px;
                        transition: all 0.35s;
                        display: inline-block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                     
                      
                        &::before {
                            display: inline-block;
                            content: '';
                            min-width: 5px;
                            min-height: 6px;
                            border-radius: 100%;
                            margin-right: 15px;
                            margin-top: 4px;
                        }

                        &:hover {
                            background-color: rgb(245, 243, 243);
                        }
                    }
                }

                .item_menu_a.active {
                    background-color: rgb(245, 243, 243);
                }
            }
        }
    }
}

.active_toggle.menu_wrapper {
    width: 75px;
    min-width: unset;
}

.active_toggle.container__menu {
    min-width: 75px;
}

.modal_list_goast {
    width: 100px;
    left: 10px !important;
}
