.modal_overlap {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    overflow: auto;

    .box_wrapper {
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 0 5px gray;
        position: relative;
        
        .notify_nothing_title {
            text-align: center;
            padding: 40px 80px;
            color: gray
        }
    
        .modal_header {
            text-align: center;
            padding: 20px;
            border-bottom: 1px solid rgb(217, 216, 216);
        }

        .modal_close_icon_wrapper {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            right: 9px;
            top: 9px;
            font-size: 24px;
            color: gray;
            background: #fff;
            cursor: pointer;
            transition: 0.1s linear;

            &:hover {
                color: red;
                background: #d3d2d25e;
            }
        }
    }   
}

//Table Modal
.wrap__modal {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    overflow: auto;

    .select_modal_wrapper {
        label {
            color: #333;
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: 700;
        }

        .select_modal {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            outline: none;
            border: none;
            font-size: 17px;
            font-weight: 400;
            padding-left: 10px;
            padding-right: 40px;
            height: 45px;
            margin: 6px 0px;
            border: 1px solid #cecece;
            border-radius: 5px;
        }
    }
    
    .button_add_row {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        button {
            width: 250px;
            max-width: 100%;
            padding: 12px 20px;
            border-radius: 5px;
            background: #006fee;
            outline: none;
            border: none;
            box-shadow: 0 0 2px gray;
            font-size: 12px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 600;
            transition: 0.1s linear;
            cursor: pointer;
            
            &:active {
                transform: scale(0.9);
            }
        }    
    }

    .modal {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        max-width: 100%;
        background-color: $color_white;
        border: 1px solid #cecece;
        border-radius: 5px;
        padding: 15px 30px;
        box-shadow: 0 0 5px #858484;


        .head__modal {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid $line_color;

            &__title {
                font-size: 18px;
                font-weight: 700;
                color: #0153b1;
                text-transform: uppercase;
            }

            .btn__close {
                all: unset;
                font-size: 30px;
                cursor: pointer;
                user-select: none;


                color: $color_gray-500;

                &:hover {
                    color: $color_black;
                }
            }
        }

        .body__modal {
            .component__input {
                > label {
                    color: #333;
                    font-size: 16px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.active__modal {
    display: block;
}

.unactive__modal {
    display: none;
}

// Preview Modal
.files_preview_wrapper {
    width: 500px;
    max-width: 100%;
    user-select: none;

    .files_preview_title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .file_item_link_wrapper {
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 10px;

        &:hover {
            background-color: #f1efef;
        }

        .file_item_link_icon {
            width: 40px;
            object-fit: contain;
        }

        .file_item_link {
            display: block;
            color: #006fee;
            font-weight: 600;
            transition: 0.1s linear;
    
            &:hover {
                color: #0153b1;
                text-decoration: underline;
            }
        }
    }
    


}

// Create table Modal
.create_goal_container {
    width: 800px;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    
    .wrap__goals {
        width: 100%;    
    }

    .input_goal_wrapper {
        .input_goal_item {
            margin-bottom: 20px;
            height: 40px;
    
            label {
                display: inline-block;
                min-width: 130px;
                font-weight: 700;
            }
    
            input {
                width: 330px;
                outline: none;
                border: none;
                height: 40px;
                border: 1px solid #333;
                padding: 8px 12px;
                border-radius: 5px;
                font-weight: 500;
                max-width: 100%;
            }
        }
    }
    
    .btn_add_column {
        width: 100px;
        margin-left: 20px;
        border: none;
        outline: none;
        padding: 8px 12px;
        background: #006fee;
        color: white;
        font-weight: 600;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.1s linear;
        user-select: none;

        &:active {
            transform: scale(0.9);
        }
    }

    .btn_create_goal {
        width: 300px;
        border: none;
        outline: none;
        height: 40px;
        padding: 8px 12px;
        background: #006fee;
        color: white;
        font-weight: 600;
        border-radius: 8px;
        cursor: pointer;
        user-select: none;
        transition: 0.1s linear;

        &:active {
            transform: scale(0.9);
        }
    }

    .goal_column {
        margin: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        max-height: 180px;
        overflow: auto;

        .goal_column_item {
            display: inline-block;
            padding: 8px 12px;
            margin: 10px;
            background: #333;
            color: white;
            font-weight: 600;
            border-radius: 8px;
            min-width: 120px;
        }
    }

   
    .preview_container {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        .page_title_preview, 
        .table_title_preview, 
        .description_preview {
            text-align: center;
            overflow-wrap: break-word;
            max-height: 50px;
            overflow: auto;
        }
    }
   
    .description_preview {
        font-weight: 400;
        color: gray;
    }
}

// Confirm modal
.confirm_modal {
    background: #fff;
    width: 480px;
    border-radius: 5px;
    box-shadow: 0 0 1px #fff;
    border: 1px solid rgb(197, 194, 194);

    .confirm_modal_header {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(197, 194, 194);
        font-size: 14px;
    }

    .confirm_modal_body {
        padding: 20px;
        
        .confirm_modal_body_content {
            color: #333;
            font-size: 16px;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;

            span {
                color: gray;
                font-size: 12px;
                font-weight: 400;
            }
        }

        .deadline_submit_radio_group {
            margin: 10px 0;
            display: flex;
            gap: 10px;
            
            >label {
                min-width: 120px;
                display: flex;
            }

            label {
                color: #333;
                font-weight: 600;
            }

            .deadline_submit_radio_item {
                input {
                    position: relative;
                    top: 1px;
                    margin-right: 5px;
                }
            }
        }

        .deadline_submit_input_wrapper {
            margin-top: 10px;
            display: flex;
            gap: 10px;

            label {
                font-weight: 600;
                color: #333;
                min-width: 120px;
                display: flex;
            }

            input {
                color: #333;
                font-weight: 600;
                height: 30px;
                width: 200px;
                padding: 8px 12px;
                cursor: pointer;
            }
        }

        .confirm_modal_body_note {
            margin-top: 20px;

            textarea {
                font-size: 14px;
                width: 100%;
                height: 40px;
                padding: 8px 12px;
                border-radius: 5px;
                outline: none;
                border: 1px solid rgb(202, 199, 199);
                font-weight: 600;
            }
        }
    }
    
    .confirm_modal_footer {
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        gap: 60px;
        
        button {
            color: #fff;
            font-weight: 600;
            width: 150px;
            padding: 8px 12px;
            outline: none;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            transition: 0.1s linear;
    
            &:active {
                transform: scale(0.9);
            }
        }
    
        .btn_close {
            background: #f0635c;
            user-select: none;

            &:hover {
                background: #f53b31;
            }

            &:active {
                background: red
            }
        }
    
        .btn_accept {
            background: #1677ff;
            user-select: none;
            
            &:hover {
                background: #0d6cf3;
            }

            &:active {
                background: #1677ff;
            }
        }
    }
}

// Stop submitting proof modal
.stop_submitting_proof_modal {
    background: #fff;
    width: 600px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 1px #fff;
    border: 1px solid rgb(197, 194, 194);

    .stop_submitting_proof_header {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(197, 194, 194);
        font-size: 14px;

        .stop_submitting_proof_close_btn {
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: rgb(229, 81, 81);
            cursor: pointer;
            transition: 0.1s linear;
            background: rgb(231, 229, 229);

            &:hover {
                color: red;
                background: rgb(205, 203, 203);
            }
        }
    }

    .stop_submitting_proof_body {
        padding: 20px;
        
        .stop_submitting_proof_body_content {
            color: #333;
            font-size: 16px;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
        }

        .stop_submitting_proof_body_notify {
            margin-top: 10px;
            color: gray;
            font-size: 12px;
            font-weight: 400;
            list-style-position: inside
        }

        .condition_filter_wrapper {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-top: 8px;

            .input_item {
                display: flex;
                gap: 10px;

                label {
                    display: block;
                    min-width: 70px;
                    font-weight: 500;
                }

                .input_text_item {
                    font-weight: 600;
                    outline: none;
                    padding: 4px 8px;
                    width: 250px;
                    border-radius: 2px;
                    border: 1px solid #333;
                }
                
                .input_checkbox_item {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    span {
                        font-size: 12px;
                        font-weight: 600;
                        color: #333;
                    }
                }
            }
        }

        .stop_submitting_proof_body_code {
            margin-top: 20px;

            input {
                font-size: 14px;
                width: 100%;
                height: 40px;
                padding: 8px 12px;
                border-radius: 5px;
                outline: none;
                border: 1px solid rgb(202, 199, 199);
                font-weight: 600;
            }

            span {
                display: block;
                margin-top: 8px;
                font-weight: 600;
                width: 100%;
                text-align: center;
            }
        }
    }
    
    .stop_submitting_proof_footer {
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        gap: 60px;
        
        button {
            color: #fff;
            font-weight: 600;
            width: 150px;
            padding: 8px 12px;
            outline: none;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            transition: 0.1s linear;
    
            &:active {
                transform: scale(0.9);
            }
        }
    
        .btn_close {
            background: #f0635c;
            user-select: none;

            &:hover {
                background: #f53b31;
            }

            &:active {
                background: red
            }
        }
    
        .btn_accept {
            background: #1677ff;
            user-select: none;
            
            &.inactive {
                cursor: not-allowed;
                transform: unset;
                opacity: 0.6;
            }

            &.active {
                &:hover {
                    background: #0d6cf3;
                }
    
                &:active {
                    background: #1677ff;
                }
            }
        }
    }
}

// Note modal
.note_modal {
    background: #fff;
    width: 480px;
    border-radius: 5px;
    box-shadow: 0 0 1px #fff;
    border: 1px solid rgb(197, 194, 194);

    .note_modal_header {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(197, 194, 194);
        font-size: 14px;
        
        h3 {
            text-transform: uppercase;
            color: #0153b1;
        }
    }

    .note_modal_body {
        padding: 20px;
        text-align: left;
        
        .note_wrapper {

            &+.note_wrapper {
                margin-top: 10px;
            }

            .note_time {
                color: #333;
                font-weight: 600;
            }

            .note_value {
                color: #000;
            }
        }   
    }
}

// Remove table modal 
.remove_table_wrapper {
    padding: 20px;
    width: 600px;
    max-width: 100%;

    .table_item {
        display: flex;
        gap: 10px;
        padding: 8px 12px;
        height: 60px;
        margin: 10px 0;
        font-weight: 700;
        align-items: center;
        
        span {
            display: block;
            height: 100%;
            flex: 1;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .remove_table_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(202, 68, 68);
            border-radius: 8px;
            height: 40px;
            width: 180px;
            color: white;
            font-size: small;
            cursor: pointer;
            transition: 0.1s linear;
            user-select: none;

            &:active {
                transform: scale(0.9);
            }
        }
    }
}

// View tables modal
.view_tables_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 600px;
    max-width: 100%;
    
    .tables_wrapper {
        width: 100%;
        
        .table_label_goal {
            margin-bottom: 8px;
            color: #006fee;
        }

        .table_detail_goal {
            width: 100%;
            text-align: center;
            border-collapse: collapse;
            border: 1px solid;
            margin-bottom: 30px;

            .table_header {
                font-weight: 700;
            }

            td {
                border: 1px solid;
                padding: 8px 12px;
            }

            td > span {
                font-weight: 500;
                color:  #333;
            }
        }
    }
}

// Remove page modal
.remove_page_modal {
    padding: 20px;
    width: 450px;
    max-width: 100%;
    text-align: center;

    .remove_page_body {
        font-weight: 500;
        padding: 20px 0 40px 0;
        font-size: large;
    }

    .remove_page_footer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        button {
            padding: 8px 12px;
            width: 140px;
            outline: none;
            border: none;
            color: #fff;
            font-weight: 500;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.1s linear;

            &:active {
                transform: scale(0.9);
            }

            &.remove_page_deny_btn {
                background: red;
            }

            &.remove_page_accept_btn {
                background: green;
            }
        }
    }
}

// Detailed row modal
.detailed_row_modal {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    padding: 10px 15px;
    height: 600px;
    width: 950px;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
   
    .detailed_row_modal_header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;

        h3 {
            text-transform: uppercase;
            color: #0153b1;
            margin-bottom: 10px;
        }
    }

    .detailed_row_modal_content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        
        >h4 {
            text-align: left;
            padding: 10px;
            color: #0055cc;
            font-weight: 700;
            text-transform: uppercase;
        }

        .detailed_row_modal_body {
            display: flex;
            gap: 10px;
        }

        .preview_PDF_wrapper {
            box-shadow: 0 0 5px rgb(198, 197, 197);
            overflow: hidden;
            border-radius: 3px;
            margin: 0 auto;
            height: 100%;
            min-width: 612px;
            .preview_PDF {
                height: 550px;

                &.multiPDF {
                    height: 550px;
                }

                overflow: auto;
                .react-pdf__Page__canvas {
                    margin: 0 auto;
                    width: 100% !important;
                }
            }

            .preview_PDF_pagination {
                border-top: 1px solid gray;
                display: flex;
                gap: 10px;
                justify-content: center;
                align-items: center;
                background: #000;
                
               .pagination_pdf {
                    &.active {
                        color: #1677ff;
                    }
               }
            }
           
        }
    }
   
}

// Modal close button
.modal_close_btn {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(229, 81, 81);
    cursor: pointer;
    transition: 0.1s linear;
    background: rgb(231, 229, 229);

    &:hover {
        color: red;
        background: rgb(205, 203, 203);
    }
}

// Modal
.modal__container{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 99;
    background: rgba(163, 0, 0, 0.356)000;
}