.container__tables {
    height: calc(100vh - 65px);
    padding: 10px;
    background-color: #F5F5F5;
    min-width: 800px;

    .body__tables {
        .tab__tables--goal {
            height: 100%;

            .ant-tabs-nav {
                background-color: #FAFAFA;
                border-radius: 3px;

                .ant-tabs-tab {
                    padding: 15px;
                    font-weight: 600;
                    font-size: 17px;
                }
            }

            .ant-tabs-content-holder {
                overflow-y: scroll;
                background-color: #eeeeee;
            }
        }

        .dynamic_goals_container {
            .container__table {
                table {
                    border: unset;
                    border-bottom: 1px solid #E7ECF0;
                }
            }
            
            .pedding_item {
                width: 100%;
                cursor: pointer;
                background-color: #ffffff;
                transition: all 0.35s;
                
               

                td {
                    padding: 15px;
                    border-bottom:1px solid #c4c4c4;
                    font-size: 15.5px;
                    font-weight: 500;
                }
                .true__date{
                    color: #059b05;
                }
    
                &:hover {
                    background-color: #fafafa;
                }
            }
        }

        .line__sort {
            width: 100%;
            background: #fff;
            margin-top: -15px;
            padding: 10px 15px;
            display: flex;
            border-bottom: 1px solid #eceaea;
    
            .box__left{
                display: flex;
                width: 100%;
               gap: 15px;
            }
    
            .box__right {
                flex: 1;

                .btn__refresh {
                    background-color: #2387f9;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    font-weight: 500;
                    svg{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.container__center {
	background-color: $color_white;
	border-radius: 3px;
    height: 73vh;

    .notify_nothing {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        min-height: 73vh;
        flex-direction: column;
        color: #333333ad;
        font-weight: 600;

        .notify_nothing_content {
            display: block;
            color: gray;
            font-weight: 600;
            font-size: 12px;
            text-transform: uppercase;
        }

        .notify_nothing_sub {
            font-size: 10px;
            font-weight: 400;
        }

        img {
            width: 200px;
            height: 120px;
            object-fit: cover;
        }
    }

    .loading_rows_pendding {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
}