.proof_title {
    display: block;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 15px;
}

.proof_wrapper {
    width: 100%;
    background: rgb(253, 253, 253);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0 0 1px #333;

    .proof_upload {
        display: flex;
        align-items: center;

        .icons_wrapper {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            height: 45px;

            .icon-item--proof {
                margin-left: 10px;
                display: flex;
                align-items: center;
            }

            .insert_files_icon {
                color: rgb(12, 166, 12);
                font-size: 20px;
                cursor: pointer;
            }

            .files_type {
                flex: 1;
                font-size: 12px;
                color: gray;
                margin-left: 10px;
            }
        }
    }

    .files_wrapper {
        position: relative;
        margin-top: 10px;
        border-radius: 8px;
        width: 100%;
        max-height: 200px;
        display: flex;
        flex-wrap: wrap;
        gap: 1px;
        justify-content: center;
        align-items: flex-start;
        overflow-y: scroll;
        overflow-x: hidden;

        .previewed_file_wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 33%;
            height: 170px;
            margin-bottom: 10px;

            img {
                display: block;
                flex: 1;
                width: 100%;
                height: 85%;
                object-fit: contain;
            }

            span {
                margin-top: 4px;
                white-space: nowrap;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                text-align: center;
            }
        }

        .remove_files_btn {
            position: absolute;
            top: 4px;
            right: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            z-index: 999;
            border-radius: 50%;
            background: #eff0f3;
            font-size: 20px;
            font-weight: bold;
            transition: linear 0.1s;

            &:hover {
                background: #dadde1;
                .remove_files_icon {
                    color: red;
                }
            }

            .remove_files_icon {
                color: rgb(251, 84, 84);
            }
        }
    }
}
