.container__quantity {
    margin-bottom: 10px;
    margin-top: -50px;
    padding: 0px 20px;

    .body__quantity {
        display: flex;
        border-radius: 3px;

        .item__quantity {
            display: flex;
            gap: 10px;
            width: 100%;
            padding: 10px;
            border-radius: 3px;
            transition: all 0.35s;
            margin-left: 15px;
            background-color: #ffffff;
            box-shadow: 0px 0px 3px rgb(192, 188, 188);

            &:first-child {
                border: none;
            }

            .quantily__number {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .text__heading {
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: #1a1919;
                }

                .number__quantity {
                    margin-top: 10px;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 600;
                    color: #464444;
                }
            }

            .icon_size {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                font-size: 30px;
                color: #b8b8b8;
            }

            &:hover {
                box-shadow: 0px 2px 3px rgb(197, 192, 192);
                transform: scale(1.04);
            }
        }

        & > .item__quantity:first-child {
            margin-left: 0px;
        }

        & > .item__quantity:last-child {
            margin-right: 0px;
        }
    }
}
