::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #9797975d;
}

::-webkit-scrollbar-thumb {
    background-color: #979797;
    border-radius: 0px;
}

// Modal
.modal_overlap::-webkit-scrollbar {
    width: 0px;
}

.wrap__modal::-webkit-scrollbar {
    width: 0px;
}

.container__menu .wrap__menu::-webkit-scrollbar {
    width: 0px;
}

.container__menu .wrap__menu::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.container__menu .wrap__menu::-webkit-scrollbar-track {
    background: transparent;
}
