.search_filter_container {
    display: flex;
    align-items: center;
    gap: 10px;

    .search_filter_wrapper {
        display: flex;
        align-items: center;

        input {
            min-width: 140px;
            padding: 10px;
            height: 41px;
            border: 1px solid #ccc;
            color: #333;
            font-weight: 600;
            outline: none;
        }
    }
}
