.container__table {
    width: 100%;
    position: relative;

    & + .container__table {
        margin-top: 30px;
    }
    &.margin-0 {
        margin: 0;
    }

    &.detailed_table {
        margin: 0 !important;

        table {
            border: 1px solid $line_color !important;
        }
    }

    header {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;

        .heading {
            color: #0153b1;
            font-weight: 700;
            text-transform: uppercase;
        }

        .modal_btn_open {
            background: #006fee;
            padding: 8px 20px;
            color: white;
            font-weight: 600;
            outline: none;
            border: none;
            box-shadow: 0 0 3px;
            border-radius: 5px;
            transition: 0.1s linear;
            text-transform: uppercase;
            font-size: 12px;
            cursor: pointer;

            &.inactive {
                background: #006fee;
                opacity: 0.5;
                cursor: not-allowed;
            }

            &:not(.inactive):active {
                transform: scale(0.9);
            }
        }
    }

    .table_description {
        color: gray;
        font-weight: 400;
        padding-left: 10px;
    }
    .table {
        border: 1px solid $line_color;
        margin: 10px 0px;
        width: 100%;

        &.margin-0 {
            margin: 0;
        }

        [class^='table__line'] {
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin: 0 auto;
            text-align: center;
            overflow-wrap: break-word;

            &:not(:last-child) {
                border-bottom: 1px solid $line_color;
            }
        }

        .table__line__header {
            border-bottom: 1px solid $line_color;

            .header__item {
                padding: 10px;
                font-weight: 700;
                margin: 0 auto;
                width: 100%;
                text-transform: uppercase;
                font-size: 13.5px;
                user-select: none;
                color: #333;
            }
        }

        .table__items {
            overflow-y: auto;

            .button_wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 6px;

                .row_button_wrapper {
                    background: transparent;
                    border: none;
                    outline: none;
                    cursor: pointer;

                    &.more_time_btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 30px;
                        color: #fff;
                        border: 2px solid #fff;
                        box-shadow: 0 0 3px rgb(208, 206, 206);
                        font-size: 20px;
                        background-color: rgb(35, 205, 200);
                        border-radius: 3px;

                        &:hover {
                            background-color: rgb(39, 230, 223);
                        }
                    }

                    .row_button {
                        box-shadow: 0 0 3px rgb(208, 206, 206);
                        transition: 0.1s linear;
                        font-size: 25px;

                        &.pending_button {
                            color: rgb(243, 174, 44);

                            &:hover {
                                color: rgb(252, 181, 47);
                            }

                            &:active {
                                color: rgb(255, 177, 33);
                            }
                        }

                        &.reject_button {
                            color: #f0635c;

                            &:hover {
                                color: #f24c44;
                            }

                            &:active {
                                color: red;
                            }
                        }

                        &.accpect_button {
                            color: #1677ff;

                            &:hover {
                                color: #0266f2;
                            }

                            &:active {
                                color: #0055cc;
                            }
                        }
                    }
                }
            }

            .table__line__item {
                &:hover {
                    background-color: #f3f3f3d7;
                }
                
                .line__item {
                    font-size: 14px;
                    font-weight: 500;
                    padding: 10px;
                    width: 100%;
                    color: $color_gray-500;
                }

                .proof_files_wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    
                    .proof_files_download {
                        border-right: 1px solid #333;
                    }
    
                    .preview_proof_files,   
                    .proof_files_download {  
                        display: inline-block;
                        padding: 0 8px;
                        color: currentColor;
                        cursor: pointer;

                        &:hover {
                            color: #0266f2;
                            text-decoration: underline;
                        }
    
                        &:active {
                            color: #0055cc;
                        }
    
                        user-select: none;
                    }
                }

                .row_status {
                    font-weight: 600;
                }

                .wating_status {
                    color: rgb(243 174 44);
                }

                .accept_status {
                    color: green;
                }

                .deny_status {
                    color: red;
                }

                .resubmit_status {
                    color: rgb(203 27 27);
                }

                .expired_status {
                    color: red;
                }

                .note_row {
                    color: #006fee;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .edit_row {
                    color: #006fee;
                    cursor: pointer;
                    font-size: 20px;
                    transition: 0.1s linear;

                    &.inactive {
                        opacity: 0.5;
                        cursor: not-allowed;
                    }

                    &.active:hover {
                        color: #1c86ff;
                    }
                }
            }
        }
    }
}
