// color
$border-themes-and-colors: (
    primary: #006fee,
    secondary: #585858,
    susscess: #00e182,
    warning: #ff8c00,
    danger: #f82a31,
    info: #00bfff,
    dark: #262626,
    light: #d8d8d8,
);
