// font
$font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    'Roboto',
    'Ubuntu',
    'Cantarell',
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
$font-size: 16px;

// custom font
$font-weight: 500;
$font-size-small: 0.85em;
$line-height: 1.5;

// background
$background-light: #ffffff;
$background-dark: #1d1d1d;
$background: $background-light;

// text
$text-color-light: #000000;
$text-color-dark: #ffffff;
$text-color-light-muted: #dadada;
$text-color-dark-muted: #989898;

// Border
$border-color: #006fee;
$border-width: 1px;
$border-radius: 3px;
$border-style: solid;

// --- start utility config ---
$directions: (
    left: [left],
    top: [top],
    bottom: [bottom],
    right: [right],
    x: [left right],
    y: [top bottom],
);

// --- start utility config ---
$border-widths: (
    0: 0px,
    1: 1px,
    2: 2px,
    3: 3px,
    4: 4px,
    5: 5px,
    6: 6px,
);
// --- start utility config ---
$border-styles: (
    solid: solid,
    dashed: dashed,
    dotted: dotted,
    none: none,
    hidden: hidden,
    inset: inset,
);
// radius
$radius: (
    3px: 3px,
    5px: 5px,
    circle: 50%,
);

// box-shadow
$box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

// spacing
$spacing: 1rem;

// animation
$transition: 0.3s ease-in-out;

//heading
$heading-font-sizes: (
    h1: 2.5rem,
    h2: 2rem,
    h3: 1.75rem,
    h4: 1.5rem,
    h5: 1.25rem,
    h6: 1rem,
) !default;

$heading-spacing: (
    h1: 3rem,
    h2: 2.7rem,
    h3: 2.43rem,
    h4: 2.1rem,
    h5: 1.8rem,
    h6: 1.5rem,
) !default;
