$main_color: #006fee;
$main_color_hover: #0153b1;
$color_white: #ffffff;
$color_white_hover: #d6d5d5;
$color_black: #000000;
$color_gray-500: #4e545b;
$color_gray-600: #363b40;
$color_danger: #f82a31;
$line_color: #e7ecf0;
$color_bgr: #f5f5f5;

@mixin flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin heading-4 {
    font-size: 28px;
    font-weight: 500;
    color: $color_gray-500;
    padding: 10px 20px;
}
