.container__app {
    // background-color: rgb(106, 80, 80);
    .box_layout_body {
        height: auto;

        .tr_line_flex {
            display: flex;
        }

        .layout_menu {
            position: relative;
        }

        .layout_body {
            width: 100%;
            padding: 60px 0px 0px 258px;
        }
    }
}

.button__component {
    width: 100%;
    display: block;
    background-color: $main_color;
    padding: 12px 0px;
    border: none;
    margin: 20px 0px;
    font-size: 18px;
    color: $color_white;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
        background-color: $main_color_hover;
    }
}

.container__header {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: $color_white;
    border-bottom: 1px solid $line_color;
    z-index: 10;

    .tr__header {
        height: 100%;
        padding: 5px 10px;

        .flex__line {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .box_search {
                height: 35px;

                svg {
                    color: #6b6b6b;
                    font-size: 19px;
                }
            }

            .box__control {
                height: 100%;
                display: flex;
                align-items: center;

                > div {
                    margin-left: 20px;
                }

                .btn__noti {
                    font-size: 28px;
                    position: relative;
                    padding-top: 10px;

                    svg {
                        cursor: pointer;
                        color: #6b6b6b;
                    }

                    .length__noti {
                        svg {
                            position: absolute;
                            font-size: 35px;
                            color: red;
                            top: -5px;
                            left: 8px;
                        }
                    }
                }

                .border__account {
                    .btn_dropdown {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }

                    .box__drop--account {
                        width: max-content;
                        position: absolute;
                        top: 50px;
                        right: 0px;
                        background-color: $color_white;
                        border: 1px solid #cecece;
                        border-radius: 10px;
                        box-shadow: 3px 2px 8px 0 #0000002c;

                        .pd__select {
                            padding: 8px;

                            &::after {
                                background-color: #fff;
                                border: 1px solid #ddd4dafd;
                                border-bottom: none;
                                border-radius: 15px;
                                border-radius: 0;
                                border-right: none;
                                box-shadow: none;
                                content: "";
                                height: 15px;
                                position: absolute;
                                right: 11px;
                                top: -8px;
                                transform: rotate(45deg);
                                width: 15px;
                            }
                        }

                        .item_btn_control {
                            @include flex_center;
                            justify-content: left;
                            padding: 10px 12px;
                            font-size: 18px;
                            cursor: pointer;
                            color: #6b6b6b;
                            font-weight: 500;
                            transition: background-color 0.35s;
                            border-radius: 10px;
                            margin: 10px 0px;

                            &:hover {
                                background-color: $color_white_hover;
                            }

                            > svg {
                                margin-right: 15px;
                                font-size: 24px;
                            }
                        }
                    }

                    .active_drop_box {
                        opacity: 1;
                        transform: translateY(0);
                        transition: 0.3s ease;
                        visibility: visible;
                    }

                    .unactive_drop_box {
                        opacity: 0;
                        transform: translateY(-8px);
                        transition: 0.2s ease;
                        visibility: hidden;
                    }
                }
            }
        }

        .border__text--role{
            padding: 5px 8px;
            border: 2px solid red;
            color: red;
            border-radius: 10px;
            font-weight: 500;
        }
    }
}

.container__menu {
    width: 270px;
    background-color: #fff;
    // margin-top: 60px;
    border-right: 1px solid $line_color;
    position: fixed;
    left: 0px;
    z-index: 99;

    .img__logo {
        text-align: center;
        padding: 8px 0px;

        img {
            width: 130px;
        }
    }

    .wrap__menu {
        padding: 10px 0px;
        height: 100vh;
        overflow: auto;
        padding-bottom: 100px;

        .flex__box {
            display: flex;
            flex-direction: column;

            .item_menu_a {
                justify-content: left;
                padding: 15px 15px;
                color: $color_black;
                font-weight: 500;
                font-size: 18px;
                cursor: pointer;
                @include flex_center;
                justify-content: space-between;
                border-radius: 10px;
                background-color: $color_white;
                transition: all 0.35s;
                margin: 6px 10px;

                > span {
                    @include flex_center;
                }

                svg {
                    margin-right: 15px;
                    margin-left: 10px;
                    font-size: 20px;
                }

                .icon_active_sub {
                    color: #797878;
                    transition: transform 0.4s;
                }

                .active_icon {
                    transform: rotate(90deg);

                    > svg {
                        color: $color_black !important;
                    }
                }

                .unactive_icon {
                    transform: rotate(0deg);
                }

                &:hover {
                    background-color: $color_white_hover;
                }
            }

            .box_sub_menu_item {
                overflow: hidden;
                transition: height 0.25s;

                .sub_menu_item {
                    display: block;
                    background-color: #f7f7f7;
                    padding: 10px 0px;
                    padding-left: 30px;
                    color: $color_black;
                    font-weight: 500;
                    font-size: 17px;
                    transition: all 0.35s;
                    border-bottom: 1px solid #ececec;
                    color: #494949;
                    margin: 0px 10px !important;

                    &:hover {
                        background-color: #dadada;
                    }
                }

                .sub_menu_item.active {
                    background-color: #d4d3d3;
                    color: $color_black;
                }
            }

            .item_menu_a.active {
                background-color: $color_white_hover;
                color: $color_black;
                // font-weight: 700;
            }
        }
    }
}

.background_admin{
    background-color: #313A46;
    .item_menu_a{
        background-color: #313A46 !important;
        color: #ffffff !important;
    }
    .item_menu_a.active {
        background-color: #525a64 !important;
        // color: $color_black;
    }
}

.component__input + .component__input {
    margin-top: 10px;
}

.component__input {
    > label {
        font-size: 18px;
        font-weight: 700;
        color: #282c52;
        display: block;
    }
    select {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        outline: none;
        font-size: 16px;
        border: 1px solid #cecece;
        font-weight: 400;
        padding: 8px;
        margin-top: 5px;
    }
    .line__input {
        position: relative;
        height: 45px;
        margin: 6px 0px;
        border: 1px solid #cecece;
        border-radius: 5px;
        
        .btn__addFile{
            width: 100%;
            height: 100%;
            background-color: #797878;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            color: $color_white;
            cursor: pointer;
            font-weight: 500;
        }
        
        > input {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            outline: none;
            border: none;
            font-size: 17px;
            font-weight: 400;
            padding-left: 10px;
            padding-right: 40px;
        }

        .icon__before {
            height: 100%;
            position: absolute;
            top: 0px;
            right: 0px;
            @include flex_center;

            > svg {
                font-size: 25px;
                color: #282c52;
                margin: 0px 5px;
                color: $main_color;
            }
        }
    }
}

.tr__line--capcha {
    display: flex;
    width: 100%;

    > div:first-child {
        flex: 3;
    }

    > div:last-child {
        flex: 7;
    }

    .set_width {
        margin-left: 10px;

        .icon__before {
            background-color: #e7ecf0;
            border-radius: 0px 5px 5px 0px;
            cursor: pointer;
        }
    }
}

//Table Modal
.wrap__modal {
    width: 100%;
    height: 100vh;
    background-color: #2c2c2c9a;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    overflow: auto;

    .button_add_row {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        button {
            width: 250px;
            max-width: 100%;
            padding: 12px 20px;
            border-radius: 10px;
            background: #006fee;
            outline: none;
            border: none;
            box-shadow: 0 0 2px gray;
            font-size: 16px;
            color: #fff;
            font-weight: 600;
            transition: 0.1s linear;
            &:active {
                transform: scale(0.9);
            }
        }    
    }

    .modal {
        width: 600px;
        max-width: 100%;
        background-color: $color_white;
        margin: 20px auto;
        border: 1px solid #cecece;
        border-radius: 10px;
        padding: 15px 30px;
        box-shadow: 3px 2px 8px 0 #0000002c;
        animation: ani_box_modal 0.4s forwards;

        @keyframes ani_box_modal {
            from {
                opacity: 0;
                transform: translateY(-30px);
                transition: 0.2s ease;
                visibility: hidden;
            }

            to {
                opacity: 1;
                transform: translateY(0);
                transition: 0.3s ease;
                visibility: visible;
            }
        }

        .head__modal {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid $line_color;

            &__title {
                font-size: 20px;
                font-weight: 500;
                color: $color_gray-500;
            }

            .btn__close {
                all: unset;
                font-size: 30px;
                cursor: pointer;

                color: $color_gray-500;

                &:hover {
                    color: $color_black;
                }
            }
        }

        .body__modal {
            .component__input {
                > label {
                    color: #333;
                    font-size: 16px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.active__modal {
    display: block;
}

.unactive__modal {
    display: none;
}

// Proof Images Component 
.proof_title {
    display: block;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 15px;
}

.proof_wrapper {
    width: 100%;
    height: 100%;
    background: rgb(253, 253, 253);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0 0 1px #333;

    .proof_upload {
        display: flex;
        align-items: center;
        .icons_wrapper {
            display: flex;
            align-items: center;
            font-size: 22px;
            margin-top: 8px;
    
            .icon-item--proof {
                margin-left: 20px;
            }
    
            .insert_image_icon {
                color: rgb(12, 166, 12);
            }
            .camera_icon {
                color: rgb(219, 77, 77);
            }
            
        }
    }

    .images_wrapper {
        position: relative;
        margin-top: 10px;
        border-radius: 8px;
        width: 100%;
        max-height: 200px;
        display: flex;
        flex-wrap: wrap;
        gap: 1px;
        justify-content: center;
        align-items: flex-start;
        overflow-y: scroll;
        overflow-x: hidden;
        
        img {
            display: block;
            width: 33%;
            object-fit: contain;
        }

        .remove_img_btn {
            position: absolute; 
            top: 4px;
            right: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            z-index: 999;
            border-radius: 50%;
            background: #eff0f3;
            font-size: 20px;
            font-weight: bold;  
            transition: linear 0.1s;

            &:hover {
                background: #DADDE1;
                .remove_img_icon {
                    color: red;
                }
            }

            .remove_img_icon {
               color: rgb(251, 84, 84); 
            }
        }
        
    }
}

// Preview Modal
.previewImagesModal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999999;

    .carousel_wrapper {
        width: 500px;
        max-width: 100%;
        height: 70vh;
        user-select: none;
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 5px gray;
        border-radius: 10px;

        .swiper {
            width: 100%;
            height: 100%;
        }
          
        .swiper-slide {
            display: flex !important;
            align-items: center;
            justify-content: center;
            height: auto !important;
            text-align: center;
        }
        
        .swiper-slide img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}

// Pedding Rows Component
.pedding_goals_container {
    margin-bottom: 40px;
    padding: 20px;
    border-bottom: 1px solid gray;
    
    .pedding_goals_wrapper {
        display: flex;
        align-items: center;
        gap: 20px;

        .student_wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
    
            .student_info {
                white-space: nowrap;
                .student_info_label {
                    font-weight: 400;
                    color: gray;
                }
            
                .student_info_id, 
                .student_info_name,
                .student_info_faculty {
                    font-weight: 500;
                }
            }
            
            .pedding_goals_btn_wrapper {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                margin-top: 10px;
    
                button {
                    color: #fff;
                    width: 98px;
                    padding: 8px 12px;
                    font-weight: 600;
                    max-width: 100%;
                    outline: none;
                    border: none;
                    border-radius: 8px;
                    cursor: pointer;
                    box-shadow: 0 0 3px gray;
                    transition: 0.1s linear;

                    &:active {
                        transform: scale(0.9);
                    }
                }
    
                .reject_btn {
                    background: red;
                }
    
                .confirmation_btn {
                    background: green;
                }
            }
        }
    }

    .title_pending_goals {
        display: flex;
        align-items: center;
        margin-bottom: 10px; 
        gap: 4px;
        color: rgb(237, 72, 72);
        font-size: larger;
        font-weight: 600;
        svg {
            width: 25px;
            height: 25px;
        }
    }
}

// Confirm modal
.confirm_modal_overlap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    
    .confirm_modal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        height: 220px;
        width: 400px;
        border-radius: 8px;
        padding: 20px 10px;
    }

    .confirm_modal_footer {
        display: flex;
        justify-content: center;
        gap: 60px;
        
        button {
            color: #fff;
            font-weight: 600;
            width: 120px;
            padding: 8px 12px;
            outline: none;
            border: none;
            box-shadow: 0 0 3px gray;
            border-radius: 8px;
            transition: 0.1s linear;

            &:active {
                transform: scale(0.9);
            }
        }

        .btn_close {
            background: red;
        }

        .btn_accept {
            background: green;
        }
    }
}

// Create goals 
.create_goal_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .page_title {
        margin: 20px;
        margin-bottom: 30px;
    }

    .input_page_item {
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
        label {
            min-width: 150px;
            font-weight: 700;
        }

        input {
            width: 300px;
            outline: none;
            border: none;
            box-shadow: 0 0 3px gray; 
            padding: 8px 12px;
            border-radius: 8px;
            font-weight: 500;
        }
    }

    .btn_add_page {
        width: 100px;
        margin-left: 20px;
        border: none;
        outline: none;
        padding: 8px 12px;
        background: #006fee;
        color: white;
        font-weight: 600;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.1s linear;

        &:active {
            transform: scale(0.9);
        }
    }

    .btn_create_page {
        width: 300px;
        margin-top: 30px;
        border: none;
        outline: none;
        padding: 8px 12px;
        background: #006fee;
        color: white;
        font-weight: 600;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.1s linear;

        &:active {
            transform: scale(0.9);
        }
    }
    .page_column {
        margin-top: 20px;
    }

    .item_column {
        display: inline-block;
        padding: 8px 12px;
        margin-left: 10px;
        background: green;
        color: white;
        font-weight: 600;
        border-radius: 8px;
        min-width: 80px;
        text-align: center;
    }

    .page_title_preview, 
    .table_title_preview, 
    .description_preview {
        text-align: center;
    }

    .description_preview {
        font-weight: 400;
        color: gray;
    }
}