.container__fisrt--login {
    // position: fixed;
    // width: 100%;
    // height: 100%;
    // top: 0px;
    // left: 0px;
    // right: 0px;
    background-color: $color_white;
    z-index: 999;
    overflow: auto;
    .form__update--info {
        width: 700px;
        margin: 10px auto;
        padding: 15px;
        padding-bottom: 50px;
        .heading__text {
            font-size: 25px;
            font-weight: 600;
            text-align: center;
        }
        .input-text {
            margin-top: 10px;
        }
        .tr__line__row--birth{
            display: flex;
            margin-bottom: 8px;
            >div{
                width: 100%;
                margin: 0px 10px;
            }
            >div:first-child{
                margin-left: 0px;
            }
            >div:last-child{
                margin-right: 0px;
            }
            select{
                height: 45px;
            }
        }
    }
}
