.create_goal_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;

	.page_title {
		margin-right: auto;
		margin-bottom: 10px;
	}

	.form_input {
		width: fit-content;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		place-items: center start;
		gap: 25px;

		input,
		button {
			border-radius: 5px;
			height: 40px;
		}

		.input_page_item {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
        
			label {
				min-width: 100px;
				font-weight: 700;
			}

			input {
				width: 100%;
				outline: none;
				border: none;
				border: 1px solid gray;
				padding: 8px 12px;
				font-weight: 500;


				&:focus {
					border: 1px solid #006fee;
				}
			}
		}

		.btn_add_column {
			min-width: 100px;
			width: fit-content;
			margin-left: 20px;
			border: none;
			outline: none;
			background: #006fee;
			color: white;
			font-weight: 600;
			cursor: pointer;
			transition: 0.1s linear;

			&:active {
				transform: scale(0.9);
			}
		}

		.button_function {
			grid-column: span 2;
			justify-self: end;
			display: flex;
			gap: 20px;
			justify-content: center;
			align-items: center;

			button {
				width: fit-content;
				min-width: 100px;
				border: none;
				outline: none;
				padding: 8px 12px;

				color: white;
				font-weight: 600;
				cursor: pointer;
				transition: 0.1s linear;


				&:active {
					transform: scale(0.9);
				}
			}

			.btn_create_page {
				background: #006fee;
			}

			.btn_cancle {
				background-color: red;
			}
		}

	}


	.goals_preview {
		margin-top: 30px;
		margin-bottom: 30px;
		width: 100%;

		.preview_title {
			margin-right: auto;
		}

		.page {
			width: 100%;

			.page_title_preview {
				text-align: center;
			}

			.page_column {
				padding: 0 20px;

				.description_preview {
					font-weight: 400;
					color: gray;
					margin-bottom: 15px;
				}



				.table_title_preview {
					margin-bottom: 15px;
				}
			}
		}



	}


	table {
		width: 100%;
		border-collapse: collapse;
		margin-bottom: 20px;

		thead {
			th {
				text-align: center;

			}
		}

		th,
		td {
			border: 1px solid $line_color;
			text-align: left;
			padding: 8px;
		}
	}








}