@import "@mixin_variable.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:
        -apple-system,
        Segoe UI,
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: $color_white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.heading-4 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-left: 10px;
}

.text-danger {
    color: $color_danger !important;
}

.display_none {
    display: none !important;
}

.display_block {
    display: block !important;
}

.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #6c757d;
    content: "/";
}

.info__text {
    .line {
        height: 35px;
        display: flex;
        align-items: center;
        gap: 0px 5px;

        span {
            white-space: nowrap;
            font-weight: 700;
        }

        p {
            white-space: nowrap;
            flex: 1;
            font-weight: 500;
            color: $color_gray-500;
        }
    }
}

// Pages
@import "./pages/pageAdmin";
@import "./pages/pageGoals";
@import "./pages/pageApply";
@import "./pages/pageGoals";
@import "./pages/pageHome";
@import "./pages/pageNews";
@import "./pages/pageProfile";
@import "./pages/pageCreateNews";
@import "./pages/pageNewsDetail";
@import "./pages/pageManagement";
@import "./pages/pageNotFound";
@import "./pages/pageCreateNewsType";
@import "./pages/pageFirstLogin";
@import "./layout/index";
@import "./pages/pageLogin";

// Component
@import "./components/modalComponent";
@import "./components/tableComponent";
@import "./components/headerComponent";
@import "./components/menuComponent";
@import "./components/inputComponent";
@import "./components/proofImageComponent";
@import "./components/peddingGoalsComponent";
@import "./components/buttonComponent";

// Scrollbar
@import "./scrollBar/scrollBar";
@import "./scrollBar/scrollToTopButton";


// Media
@import "@media/@mediaComponentLogin.scss";

