# Server
DEV_APP_PORT=4000
PRO_APP_PORT=4000
DEV_APP_URI_BASE=http://localhost:4000
PRO_APP_URI_BASE=http://localhost:4000

# Client
DEV_CLIENT_DOMAIN_V1=http://127.0.0.1:1013
DEV_CLIENT_DOMAIN_V2=http://localhost:1013
PRO_CLIENT_DOMAIN=http://localhost:1013

# Page type
GOAL_PAGE=chỉ tiêu
NEWS_PAGE=tin tức
TEMPORARY_TALENT_ENGINEER_PAGE_TYPE=001
TALENT_ENGINEER_PAGE_TYPE=002

# Group code
TEMPORARY_TALENT_ENGINEER_CODE=001
TALENT_ENGINEER_CODE=002
FACULTY_MANAGER_CODE=003
ADMIN_CODE=004

# MongoDB
DEV_MONGODB_URI=
PRO_MONGODB_URI=
ATLAS_URI=

# Redis
DEV_REDIS_HOST=127.0.0.1
DEV_REDIS_PORT=6379
PRO_REDIS_HOST=127.0.0.1
PRO_REDIS_PORT=6379

# Authorization
ACCESS_TOKEN_SECRET=

# S3 AWS
S3_IS_ENABLE=true
S3_REGION=
S3_BUCKET_NAME=
S3_ACCESS_KEY=
S3_SECRET_ACCESS_KEY=
S3_DEFAULT_AVATAR=

# Gemini AI
GEMINI_API_KEY=


